// Global Styles
// by. iduk
// Kor
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
}
html {
  font-size: calc(1rem + 0.3125vw);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Archivo', -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI';
  background-color: var(--theme-bg);
  color: var(--theme-text);
  line-height: normal;
  font-size: $body-font;
  line-height: 1.35;
  // font-size: calc($text-base + 0.3125vw); // + 8px
}

::selection {
  background-color: var(--primary);
  color: rgba(white, 0.85);
}

ul,
li,
dt,
dd {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
  &:hover,
  &:focus {
    color: var(--primary);
  }
}

.img {
  position: relative;
  width: 100%;
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
  // aspect-ratio: 2/1;
}

svg {
  fill: currentColor;
}

.mask {
  clip-path: polygon(
    0 1.5rem,
    0.75rem 0.75rem,
    1.5rem 0,
    100% 0,
    100% calc(100% - 1.5rem),
    calc(100% - 0.75rem) calc(100% - 0.75rem),
    calc(100% - 1.5rem) 100%,
    0 100%
  );

  mask-clip: border-box;
  mask-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.marquee {
  --marquee-gap: 2vw;
  --marquee-duration: 60s;

  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--marquee-gap);
  // font-size: xx-large;

  // &:hover .marquee__content {
  //   animation-play-state: paused;
  // }

  &.reverse .marquee__content {
    animation-direction: reverse;
    // animation-delay: calc(var(--marquee-duration) / -2);
    // -webkit-text-stroke: unset;
    // color: var(--primary);
  }

  &__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    min-width: 100%;
    gap: var(--marquee-gap);
    animation: scroll var(--marquee-duration) linear infinite;
    // Styling
    font-size: 8ch;
    line-height: 1;
    font-weight: bolder;
    color: black;
    // Text Shadow
    // text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    //   -1px 1px 0 #000, 1px 1px 0 #000;

    li:nth-child(2n) {
      -webkit-text-fill-color: var(--theme-bg);
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
    }
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--marquee-gap)));
    }
  }
}
