@use 'sass:color';
@use 'sass:map';

$theme: (
  'light': (
    'colors': $color-palette,
    'grays': (
      'gray-0': #fff,
      'gray-1': $gray-1,
      'gray-2': $gray-2,
      'gray-3': $gray-3,
      'gray-4': $gray-4,
      'gray-5': $gray-5,
      'gray-6': $gray-6,
      'gray-7': $gray-7,
      'gray-8': $gray-8,
      'gray-9': $gray-9,
    ),
  ),
  'dark': (
    'colors': $color-palette,
    'grays': (
      'gray-0': #000,
      'gray-1': $gray-9,
      'gray-2': $gray-8,
      'gray-3': $gray-7,
      'gray-4': $gray-6,
      'gray-5': $gray-5,
      'gray-6': $gray-4,
      'gray-7': $gray-3,
      'gray-8': $gray-2,
      'gray-9': $gray-1,
    ),
  ),
);

$transition-bg: all 0.1s cubic-bezier(0.185, 0.475, 0.895, 0.39);

@mixin theme-base($theme) {
  @each $theme-name, $theme-vars in $theme {
    $grays: map-get($theme-vars, 'grays');
    $colors: map-get($theme-vars, 'colors');

    $theme-mode: (
      'bg': map-get($grays, 'gray-0'),
      'border': map-get($grays, 'gray-5'),
      'layer': map-get($grays, 'gray-2'),
      'text': map-get($grays, 'gray-8'),
      'heading': map-get($grays, 'gray-9'),
    );
    @media (prefers-color-scheme: #{$theme-name}) {
      @each $name, $color in $grays {
        --#{''+$name}: #{$color};
      }
      @each $name, $color in $colors {
        --#{''+$name}: #{$color};
      }
      @each $name, $color in $theme-mode {
        --theme-#{''+$name}: #{$color};
      }
    }
    [data-theme='#{$theme-name}'] {
      @each $name, $color in $grays {
        --#{''+$name}: #{$color};
      }
      @each $name, $color in $colors {
        --#{''+$name}: #{$color};
      }

      @each $name, $color in $theme-mode {
        --theme-#{''+$name}: #{$color};
      }
    }
  }
}

:root {
  @include theme-base($theme);
}
