// My Variables

/* ---------------------------------------------------------- 
    colors palette
 ---------------------------------------------------------- */
$gray-1: #f8f9fa;
$gray-2: #eee;
$gray-3: #ddd;
$gray-4: #ccc;
$gray-5: #999;
$gray-6: #666;
$gray-7: #444;
$gray-8: #333;
$gray-9: #111;

$grays: (
  gray-1: $gray-1,
  gray-2: $gray-2,
  gray-3: $gray-3,
  gray-4: $gray-4,
  gray-5: $gray-5,
  gray-6: $gray-6,
  gray-7: $gray-7,
  gray-8: $gray-8,
  gray-9: $gray-9,
) !default;


$primary: #e90000;
$secondary: #353a53;
$blue: #084b83;
$green: #127039;
$yellow: #c2b542;
$orange: #e58f65;
$red: #d05353;
$gray: $gray-6;
$dark: $gray-9;
$light: $gray-1;

$color-palette: (
  primary: $primary,
  secondary: $secondary,
  green: $green,
  yellow: $yellow,
  red: $red,
  dark: $dark,
  light: $light,
  gray: $gray,
) !default;

/* ---------------------------------------------------------- 
    Typography
 ---------------------------------------------------------- */
$body-font: 16px !default;

// 4 8 12 16 20 24 ...
$text-sizes: (
  'xs': $body-font * 0.75,
  'sm': $body-font * 0.875,
  'md': $body-font,
  'lg': $body-font * 1.25,
  'xl': $body-font * 1.5,
  '2xl': $body-font * 1.75,
  '3xl': $body-font * 2,
) !default;

// custom
$headings: (
  1: $body-font * 4.5,
  2: $body-font * 2.5,
  3: $body-font * 2,
  4: $body-font * 1.75,
  5: $body-font * 1.5,
  6: $body-font * 1.125,
) !default;

$font-weight: (
  'lighter': 100,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 700,
  'bolder': 900,
) !default;

/* ---------------------------------------------------------- 
    Grid & Container & BreakPoint
 ---------------------------------------------------------- */
// BreakPoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1400px,
  xl: 1600px
) !default;

// Cotainer
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 1320px,
  xl: 1520px
) !default;

$grid-count: 12 !default;
$grid-gutter: 2rem !default;

$border-width: 1px;
$border-width-lg: 2px;

$rounded: 1rem;
$rounded-xs: .5rem;
$rounded-sm: 1rem;
$rounded-lg: 3rem;
$rounded-full: 10rem;
$rounded-0: 0;

$rounded-sizes: (
  '': $rounded,
  '-xs': $rounded-xs,
  '-sm': $rounded-sm,
  '-lg': $rounded-lg,
  '-full': $rounded-full,
  '-0': $rounded-0,
) !default;

/* ---------------------------------------------------------- 
    Buttons
 ---------------------------------------------------------- */
$btn-padding-sm: 4px 8px !default;
$btn-padding-md: 8px 16px !default;
$btn-padding-lg: 12px 20px !default;

$btn-sizes: (
  'sm': $btn-padding-sm,
  'md': $btn-padding-md,
  'lg': $btn-padding-lg,
);

/* ---------------------------------------------------------- 
    Spacing
 ---------------------------------------------------------- */
$spacing: 0.5rem !default;
$space-count: 30 !default;
