// My Variables

/* ---------------------------------------------------------- 
    colors palette
 ---------------------------------------------------------- */

$primary: #d83a3a;
$secondary: #353a53;
$blue: #084b83;
$green: #127039;
$yellow: #c2b542;
$orange: #e58f65;
$red: #d05353;
$gray: #88a0a8;
$dark: #111111;
$light: #f5f5f5;

$color-palette: (
  primary: $primary,
  secondary: $secondary,
  green: $green,
  yellow: $yellow,
  red: $red,
  dark: $dark,
  light: $light,
  gray: $gray,
) !default;

$gray-100: #f8f9fa;
$gray-200: #eeeeee;
$gray-300: #dddddd;
$gray-400: #cccccc;
$gray-500: #999999;
$gray-600: #666666;
$gray-700: #444b54;
$gray-800: #333333;
$gray-900: #222222;

$grays: (
  gray-1: $gray-100,
  gray-2: $gray-200,
  gray-3: $gray-300,
  gray-4: $gray-400,
  gray-5: $gray-500,
  gray-6: $gray-600,
  gray-7: $gray-700,
  gray-8: $gray-800,
  gray-9: $gray-900,
) !default;

/* ---------------------------------------------------------- 
    Typography
 ---------------------------------------------------------- */
$text-base: 1rem;

$text-sizes: (
  'xs': $text-base * 0.75,
  'sm': $text-base * 0.875,
  'md': $text-base,
  'lg': $text-base * 1.25,
  'xl': $text-base * 1.5,
  '2xl': $text-base * 1.75,
  '3xl': $text-base * 2,
) !default;

$headings: (
  1: 1.25vw * 3.5,
  2: 1.25vw * 3,
  3: 1.25vw * 2.5,
  4: 1.25vw * 2,
  5: 1.25vw * 1.5,
  6: 1.25vw * 1,
) !default;

$font-weight: (
  'thin': 100,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'bold': 600,
  'extrabold': 700,
) !default;

/* ---------------------------------------------------------- 
    Grid & Container & BreakPoint
 ---------------------------------------------------------- */
// BreakPoint
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1400px,
) !default;

// Cotainer
$container-max-widths: (
  sm: 575px,
  md: 767px,
  lg: 991px,
  xl: 1399px,
) !default;

$col-count: 12 !default;
$gap: 2rem !default;

$border-width: 1px;
$border-width-lg: 2px;

$rounded: 10px;
$rounded-xs: 4px;
$rounded-sm: 6px;
$rounded-lg: 10px;
$rounded-full: 30px;
$rounded-0: 0;

$rounded-sizes: (
  '': $rounded,
  '-xs': $rounded-xs,
  '-sm': $rounded-sm,
  '-lg': $rounded-lg,
  '-full': $rounded-full,
  '-0': $rounded-0,
) !default;

/* ---------------------------------------------------------- 
    Buttons
 ---------------------------------------------------------- */
$btn-padding-sm: 4px 8px !default;
$btn-padding-md: 8px 16px !default;
$btn-padding-lg: 12px 20px !default;

$btn-sizes: (
  'sm': $btn-padding-sm,
  'md': $btn-padding-md,
  'lg': $btn-padding-lg,
);

/* ---------------------------------------------------------- 
    Spacing
 ---------------------------------------------------------- */
$spacing: 0.5 !default;
$space-count: 20;
