@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: 'HBIOS-SYS';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('HBIOS-SYS'), url('./HBIOS-SYS.woff2') format('woff2'),
    url('./HBIOS-SYS.ttf') format('truetype');
}
