.blogPage {
  color: var(--theme-text);

  main {
    padding-top: 45vh;
  }
}

.postList {
  position: relative;
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vw;
    padding: 1rem;
    min-height: auto;
    border-bottom: 1px solid var(--theme-border);
    color: inherit;
  }

  &__thumbnail {
    order: 1;
  }
  &__content {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
      font-size: 5vh;
      margin-bottom: 0.5rem;
    }
    .date {
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
    }
    .excerpt {
    }
  }

  @include breakepoint-up(md) {
    &__item {
      flex-direction: row;
    }

    &__thumbnail {
      order: 2;
    }
    &__content {
      order: 1;
    }
  }
}

.tagsContainer {
  margin-top: 1rem;
}
.tagList {
  display: flex;
  gap: 1rem;
  a {
    display: block;
    text-decoration: none;
    color: var(--primary);
    font-size: 0.875rem;
  }
}
