// .index {
//   main {
//     padding-top: 50vh;
//   }
// }

.headline {
  font-size: clamp(2rem, 3.7vw, 5rem);
  line-height: 1;
  overflow-wrap: break-word;
  text-transform: uppercase;
  font-weight: bold;

  > a {
    display: inline-block;
    &::after {
      content: '↖︎';
      vertical-align: top;
      font-size: inherit;
      font-weight: 300;
      letter-spacing: -1px;
    }
  }
}

.feature {
  padding: 4vh 0;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
  }
}

.section {
  padding: 4vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: clamp(1.5rem, 7vh, 6rem);
  }

  :has(p) {
    word-break: keep-all;
  }
}

.badges {
  display: flex;
  justify-content: baseline;
  flex-wrap: wrap;
  gap: 0.5rem;
  .badge {
    font-size: clamp(1rem, 4vh, 6rem);
    line-height: 1;
    text-transform: uppercase;
    padding: 0.5vh 0.5vw;
    border-radius: 50%;
    background-color: rgb(#fff, 0.1);

    :is(&:hover, &:focus) {
      background-color: black;
      transition: all 0.3s;
    }
  }
}
