.stage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70vh;
  padding-top: 4vh;
  padding-bottom: 4vh;

  &__projects {
    font-size: calc(1vw + 4vh);
    line-height: 1.1;
    overflow-wrap: break-word;
    text-transform: uppercase;
    font-weight: bold;

    > a {
      display: inline-block;
      &::after {
        content: '↖︎';
        vertical-align: top;
        font-size: inherit;
        font-weight: 100;
      }
    }
  }
}

:root {
  --g-color: var(--primary);
  --g-width: 5px;
}
// Outline grid
@mixin gridLine($data: true) {
  @if $data {
    & {
      gap: calc(var(--g-width) - 1px);

      > [class*='col-'] {
        outline: var(--g-width) solid var(--g-color);
        padding: calc($grid-gutter / 2);
        box-sizing: border-box;
      }
    }
  }
}

[data-line] {
  @include gridLine($data: true);
}

.section {
  border-top: var(--g-width) solid var(--g-color);
  border-bottom: var(--g-width) solid var(--g-color);

  .headline {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4px;
    width: 100%;

    .title {
      font-size: 3vh;
      line-height: 1;
    }
  }
}
