@use 'sass:color';

:root {
  @each $name, $value in $color-palette {
    --#{''+$name}: #{$value};
  }
}

$color-property: (
  bg: background-color,
  text: color,
  border: border-color,
);

@each $name, $value in $color-palette {
  @each $selector, $property in $color-property {
    .#{$selector}-#{'' + $name} {
      // #{$property}: $value !important;
      #{$property}: var(--#{$name}) !important;

      @if $selector == 'bg' {
        @include color-invert($value);
      }
    }
  }
}

@each $name, $value in $grays {
  @each $selector, $property in $color-property {
    .#{$selector}-#{'' + $name} {
      // #{$property}: $value !important;
      #{$property}: var(--#{$name}) !important;

      @if $selector == 'bg' {
        @include color-invert($value);
      }
    }
  }
}
