// fluid
@mixin make-container($gutter: $grid-gutter) {
  width: 100%;
  padding-right: $grid-gutter;
  padding-left: $grid-gutter;
  margin-right: auto;
  margin-left: auto;
}

.container,
.fluid {
  @include make-container();
}

.container {
  @each $grid-breakpoint, $width in $container-max-widths {
    @include breakpoint-up(#{$grid-breakpoint}) {
      max-width: $width;
    }
  }
}
