// w-*, h-*
$size: 5;
$size-count: 20;
$sizes: (
  w: 'width',
  h: 'height',
) !default;

@mixin sizing($bp: null) {
  $infix: if($bp == null, '', '-#{$bp}');

  @for $i from 0 through $size-count {
    @each $name, $property in $sizes {
      .#{$name}#{$infix}-#{$i * $size} {
        #{$property}: $i * $size + 0% !important;
      }
    }
  }
}

@each $bp, $w in $grid-breakpoints {
  @if $bp == 'xs' {
    @include sizing;
  } @else {
    @media screen and (min-width: $w) {
      @include sizing($bp);
    }
  }
}
