// text-size
@each $key, $value in $text-sizes {
  .text-#{$key} {
    font-size: $value !important;
  }
}

// headings
@each $key, $value in $headings {
  h#{$key},
  .h#{$key} {
    font-size: $value;
    font-weight: 300;
  }
}

// font-weight
@each $key, $value in $font-weight {
  .fw-#{$key} {
    font-weight: $value !important;
  }
}

.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}

small,
.small {
  font-size: 80% !important;
}
