.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--gray-9);
  overflow: hidden;
  padding: 0.75rem 0;
}

.logo {
  width: 8vh;
  flex-shrink: 0;
  display: block;
  font-weight: bolder;
  text-transform: uppercase;
  color: inherit;
}

.navTrigger {
  z-index: 30;
  display: none;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 1.5vw;
}

.navLink {
  color: inherit;
  display: inline-block;
  font-size: 8vh;
  font-weight: bolder;
  line-height: 1;
  text-transform: uppercase;
  transition: background-position 0.4s, color 0.7s;
  background-size: 200%;
  outline: none;
}
.navLink:hover {
  color: white;
  background-position: 100%;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    var(--primary) 50%
  );
}
.navLink.active {
  color: white;
  background-color: var(--primary);
}

@include breakepoint-down(sm) {
  .navTrigger {
    display: block;
    font-size: 1.5rem;
  }
  .nav {
    display: none;
  }
  .nav.open {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    color: var(--gray-9);
    padding: 0;
  }

  .navList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    li {
      width: 100%;
      text-align: center;
    }
  }
  .navLink {
    font-size: 15vw;
  }

  .logo {
    width: 5vh;
  }
}
