/********************* 
  Footer
  - 
*********************/
.footer {
  position: relative;
  color: inherit;
  padding: 4vh 0;
}

.social-list {
  li {
    display: flex;
    column-gap: 1vw;

    > span {
      flex-shrink: 0;
      display: block;
      font-weight: bold;
      min-width: max-content;
    }
  }
}

.copyright {
  font-size: 1rem;
}
.address {
  font-size: 1.125rem;
  @include breakepoint-down(lg) {
    padding-top: 2rem;
  }
}
