/********************* 
  Footer
  - 
*********************/
.footer {
  position: relative;
  padding: 2rem 0;
  color: var(--theme-text);
}

.social-list {
  li {
    display: flex;
    column-gap: 1vw;

    > span {
      flex-shrink: 0;
      display: block;
      font-weight: bold;
      min-width: max-content;
    }
  }
}

.address {
  padding-top: 0;
  @include breakpoint-down(sm) {
    padding-top: 2rem;
  }
}
