// @import "/node_modules/rfs/scss";

.parallax {
    overflow: hidden;
    // letter-spacing: -2px;
    line-height: 1;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    // font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  .parallax .scroller {
    font-weight: 300;
    text-transform: uppercase;
    font-size: calc(7rem + 4vw);
    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
  }
  
  .parallax span {
    display: block;
    margin-right: 2vw;
  }
  